{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>{{ _('Find Product') }}</h1>
</div>
<h3>{{ _('Hand Scanner Search') }}</h3>
<form class="form form-inline" method="post" role="form">
	<div>
		<label class="col-sm-2 control-label" for="product">{{ _('Scan Product') }}</label>
		<div class="col-sm-3">
			<input type="text" class="input-sm form-control" name="product" size="40" id="product"/>
			<input type="button" name="find" value="find" id="product_button"/>
		</div>
	</div>
	<br/><br/>
	<div>
		<label class="col-sm-2 control-label " for="new_window">{{ _('New Window') }}</label>
		<div class="col-sm-2">
			<input type="checkbox" name="new_window" id="new_window" checked/>
		</div>
	</div>

</form>
<br/>
<br/>

<h3>{{ _('Basic Product Search') }}</h3>
<!-- 
{{ wtf.quick_form(basic_search_form) }}
 -->
 <form class="form form-inline" method="post" role="form">
	{{ basic_search_form.hidden_tag() }}
	{{ wtf.form_errors(basic_search_form) }}
	<div>
		<label class="col-sm-2 control-label " for="type">{{ _('Product Type') }}</label>
		<div class="col-sm-2">
			<select class="form-control" id="type" name="type"><option value="">Select Product Type</option><option value="9122108002">9122108002</option></select>
			
		</div>
	</div>
	<br/><br/>
	<div>
		<label class="col-sm-2 control-label " for="serial">{{ _('Serial Number') }}</label>
		<div class="col-sm-2">
        	<input class="form-control" id="serial" name="serial" type="text" value="">
		</div>
	</div>
	<br/><br/>
	{{ wtf.form_field(basic_search_form.submit) }}
 </form>

<br/>
<h3>{{ _('Detailed Product Search') }}</h3>
<form class="form form-inline" method="post" role="form">
	<div class="input-daterange input-group" id="datepicker">
		{{ detailed_search_form.hidden_tag() }}
		{{ wtf.form_errors(detailed_search_form) }}
		<div>
			<label class="col-sm-2 control-label" for="start">{{ _('Start Date') }}</label>
			<div class="col-sm-2">
				<input type="text" class="input-sm form-control" name="start" />
			</div>
		</div>
		<br/><br/>
		<div>
			<label class="col-sm-2 control-label " for="end">{{ _('End Date') }}</label>
			<div class="col-sm-2">
				<input type="text" class="input-sm form-control" name="end" />
			</div>
		</div>
	</div>
	<br/>
	<div>
		<label class="col-sm-2 control-label " for="status_failed">{{ _('Status Failed') }}</label>
		<div class="col-sm-2">
			<input type="checkbox" name="status_failed"/>
		</div>
	</div>
	<br/><br/>
	<div>
		<label class="col-sm-2 control-label " for="operation_failed">{{ _('Operation Failed') }}</label>
		<div class="col-sm-2">
			<input type="checkbox" name="operation_failed"/>
		</div>
	</div>
	<br/><br/>
	{{ wtf.form_field(detailed_search_form.submit) }}
</form>

{% endblock %}

{% block scripts %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.css') }}" />
	<script src="{{ url_for('static', filename='jquery-ui.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-datepicker3.standalone.css') }}" />
	<script src="{{ url_for('static', filename='bootstrap-datepicker.js') }}"></script>

	<script type="text/javascript">

		$(' .input-daterange').datepicker({
		    todayBtn: "linked",
		    format: "yyyy-mm-dd",
		    multidate: "yes",
		    autoclose: true,
		    calendarWeeks: true,
		    todayHighlight: true
		});

		var product_type = $('#type').value;

		$('#type').change(function() {
			var product_type = this.value;
			autocomplete_setup(product_type);
		});

		function autocomplete_setup(product_type) {
			var cache = {};
			$( "#serial" ).autocomplete({
				minLength: 1,
				source: function( request, response ) {
					var term = request.term;
					if ( term in cache ) {
						response( cache[ term ] );
						return;
					}
					$.getJSON( "/api/autocomplete/" + product_type, request, function( data, status, xhr ) {
						cache[ term ] = data;
						response( data );
					});
				}
			});
		}
		
		$("#product_button").click(function() {
			var product = $('#product').val().replace(/\D{7}/g, "");
			var new_window = $('#new_window').is(':checked');
			var url = "/app/product/"+product
			if ( new_window ) {
				window.open(url, '_blank');
				
			} else {
				window.location.href = url;
			}
		});
      </script>
{% endblock %}
